<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if msg_type == 'Success' %}
    <p> Records Deleted Successfully </p>

{% elif msg_type == 'protect' %}
    <p>Cannot delete {{ model_name }}s</p>
    <p> Deleting the selected {{ model_name }}s would require deleting the following protected related objects: </p>
    {% for k, v in data.items %}
        {% for i in v %}
            {{ k }}: {{ i }}<br>
        {% endfor %}
    {% endfor %}
{% elif msg_type == 'cascade' %}
    <p>Are you sure?</p>
    <p> Are you sure you want to delete the selected {{ model_name }}s? All the following objects and their related items will be deleted: </p>
    <p><strong>Summary: </strong></p>
    {% for k, v in summary.items %}
        {{ k }}: {{ v }}<br>
    {% endfor %}
    <br>
    <p><strong>Objects: </strong></p>
    {% include 'recur.html' with parent_model_name='' cascaded=data level='' %}

    <button> <a href="{% url 'delete' %}" > Delete </a> </button>
{% else %}
    <p>Something Went Wrong</p>
{% endif %}

</body>
</html>
